Makefile.in
Makefile
*.o
*.lo
.deps
/aclocal.m4
/build-stamp
/config.log
/config.status
/configure
/debian/files
/debian/*.log
/debian/*.substvars
/debian/ragel/
/depcomp
/doc/ragel.1
/install-sh
/missing
/ragel/config.h
/ragel/config.h.in
/ragel/ragel
/ragel/stamp-h1
/ragel/version.h
/test/runtests
